@import url('assets/fonts/Roboto.css') layer(base);

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@theme {
  --font-*: initial;
  --font-sans: Roboto;

  /* Background Colors */
  --color-background-base: #000000;
  --color-background-surface-base: #121212;
  --color-background-surface-highlight: #242424;
  --color-background-surface-click: #363636;
  --color-background-elevated-base: #181818;
  --color-background-elevated-highlight: #262626;
  --color-background-elevated-click: #343434;
  --color-background-glass-base: hsla(0, 0%, 0%, 0.6);
  --color-background-glass-highlight: hsla(0, 0%, 0%, 1);
  --color-background-glass-click: hsla(0, 0%, 0%, 0.8);

  /* Text Colors */
  --color-text-primary: #ffffff;
  --color-text-secondary: #878787;
  --color-text-sub: #333333;
  --color-text-black: #000000;

  /* Essential Colors */
  --color-essential-base: #ffffff;
  --color-essential-accent: #00c850;
  --color-essential-danger: #bd0000;
  --color-essential-info: #5db6dc;
  --color-essential-success: #009f55;
  --color-essential-warning: #ffc107;

  --breakpoint-*: initial;
  --breakpoint-xs: 1024px;
  --breakpoint-sm: 1280px;
  --breakpoint-md: 1360px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1600px;
  --breakpoint-2xl: 1920px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

body {
  color: var(--color-text-primary);
  font-family: Roboto, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}
