@import url('assets/fonts/Roboto.css') layer(base);
@import url('themes.css') layer(theme);

@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-sans: Roboto;

  /* Background Colors */
  --color-background: var(--background);
  --color-surface-base: var(--surface-base);
  --color-surface-highlight: var(--surface-highlight);
  --color-surface-active: var(--surface-active);
  --color-elevated-base: var(--elevated-base);
  --color-elevated-highlight: var(--elevated-highlight);
  --color-elevated-active: var(--elevated-active);
  --color-glass-base: var(--glass-base);
  --color-glass-highlight: var(--glass-highlight);
  --color-glass-active: var(--glass-active);

  /* Text Colors */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-sub: var(--text-sub);
  --color-text-black: var(--text-black);

  /* Essential Colors */
  --color-base: var(--base);
  --color-accent: var(--accent);
  --color-danger: var(--danger);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);

  /* Logo Colors */
  --color-decoration-base: var(--decoration-base);
  --color-decoration-background: var(--decoration-background);

  --breakpoint-*: initial;
  --breakpoint-xs: 1024px;
  --breakpoint-sm: 1280px;
  --breakpoint-md: 1360px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1600px;
  --breakpoint-2xl: 1920px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

body {
  color: var(--color-text-primary);
  font-family: Roboto, sans-serif;
}

img {
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
}
